##-----------------------
# Specify Files to be ignored by git
##-----------------------

#Latex Extra Files
**.brf
**.log
**.lof
**.aux
**.blg
**Notes.bib
**.toc
**.tof
**.lot
**.bbl
**.out

#Sometimes I wish I could keep these, but its getting too cluttered and they can be locally recompiled:
**.pdf

#OSX/UNIX/LINUX Matlab Autosaves
**.m~

#Windows LOCK files
**~$*

#Samba share crap
**.smbdelete*

#Windows Matlab Autosaves
**.asv

#EMACS Autosaves
\#*#
**~

#Excel Autosaves
~$*.xls*

#OSX Directory Stuff
**.DS_Store

